dist/nonebot_plugin_SDGPT-0.0.8-py3-none-any.whl
dist/nonebot-plugin-SDGPT-0.0.8.tar.gz
nonebot_plugin_SDGPT.egg-info/dependency_links.txt
nonebot_plugin_SDGPT.egg-info/requires.txt
nonebot_plugin_SDGPT.egg-info/SOURCES.txt
nonebot_plugin_SDGPT.egg-info/top_level.txt
nonebot_plugin_SDGPT.egg-info/PKG-INFO
